body { color: #555; font-family: 'Open Sans', sans-serif; font-size: 14px; }
.hidden { display: none }
#container { margin: 1.5em; }
#container section { width: 60%; margin: 0 auto; }
.mod-item { padding: 0 1em; }
.mod-item em { font-weight: 300; text-align: right; color: #F70; display: block; }
.mod-item p { text-align: justify; }

.color { background-color; #FF7F50 }

/* Media Queries */
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 790px) {
}
@media screen and (max-width: 480px) {
}